*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    color: white;
    height: 60px;
}

.navbar-collapse{
    background-color:;
    font-size: 18px;
    margin: 30px;
    
}

















.masthead{
    background-size: cover;
    min-height:90vh;
    position: relative;
    /* color: aliceblue; */
    text-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

.color-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2)
}

@media (max-width:768px){
    .masthead{
        min-height: 90vh;
    }
}

/* HOME section */  /* HERO */

#hero{
    background: linear-gradient(rgba(0, 0, 0, 0.781), rgba(0, 0, 0, 0.781)),url(./mountain.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: black;
}

.main-hi{
    color: rgb(255, 255, 255);
    text-shadow: 1px 0px 0px rgba(79, 255, 158, 0.5);
    font-family:'Montserrat', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main-hi2{
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(242, 238, 238, 0.888);
}


/* section Title*/  /* About */


.section-title{
    margin-bottom: 40px;
    margin-top: 40px;
}
.section-title .line{
    width: 90px;
    height: 4px;
    background-color: yellow;
    margin: 16px auto 24px auto;
}

/* About section */

.about-img{
    margin-right:50px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.996);
    box-sizing: border-box;
}

.about-img :hover{
    transform: rotateY(30deg);
    transition: 0.8s ease-in-out;
}
.text2{
    margin-bottom:80px;
}

/* SKILLS starts */

.skil{
    background-color: rgba(47, 80, 132, 0.877);
    
    height: 100vh;
}

.skills{
    width: 100px;
    max-width: 600px;
    padding: 0 20px;
}
.skill{
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
}

.skill-name{
    font-size: 18px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin: 15px 0;
}

.skill-bar{
    height: 18px;
    background: skyblue;
    border-radius: 3px;
}

.skill-per{
    height: 14px;
    background: red;
    border-radius: 3px;
    position: relative;
    animation: fillBars 2.5s 1;
}

.skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: rgb(99, 99, 94);
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}

.skill-per::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background:rgb(99, 99, 94);
    top: -15px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}

@keyframes fillBars{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

/*   SKILLS ENDS */

/* HOBBIES */

.sport:hover{
    animation: shake 1.1s infinite alternate; /* Animation name, duration, and repetition */
  }
  @keyframes shake {
    from {
      transform: translateX(0px); /* Initial position */
    }
    to {
      transform: translateX(55px); /* Final position */
    }
  }

  .chris:hover {
    animation: zoom-in 0.5s forwards; /* Animation name, duration, and behavior */
  }
  @keyframes zoom-in {
    0% {
      transform: scale(1); /* Initial scale */
    }
    100% {
      transform: scale(1.2); /* Final scale */
    }
  }

  .pencil:hover {
    animation: zoom-in 0.5s forwards; /* Animation name, duration, and behavior */
  }
  @keyframes zoom-in {
    0% {
      transform: scale(1); /* Initial scale */
    }
    100% {
      transform: scale(1.2); /* Final scale */
    }
  }

 

  .pan:hover {
    animation: zoom-in 0.5s forwards; /* Animation name, duration, and behavior */
  }
  @keyframes zoom-in {
    0% {
      transform: scale(1); /* Initial scale */
    }
    100% {
      transform: scale(1.2); /* Final scale */
    }
  }

/* HOBBIES END */

/* gratitude starts */
/* .box1{
    background-color: rgb(225, 238, 225);
    width: 80%;
    height: 12vh;
    padding: 6px;
    border-radius: 100%;
}
.thank{
    background-color: rgba(92, 81, 75, 0.753);
    height: 20vh;
}
.thanks{
    font-size: 35px;
    color: red;
}
@media (max-width:768px){
    .thanks{
        font-size: 25px;
    }
}
@media (max-width:340px){
    .thanks{
        font-size: 20px;
    }
} */

/* gratitude Ends */

/* FOOTER STARTS */
.footer{
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    position: relative;}

  .reserved-right {
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 15px;
  }

  /* social icons */
  .social-text{
    margin-bottom: 20px;
  }



 .social-icons{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
 }
 .social-icons a{
    text-decoration: none;
    padding: 10px;
    background-color: rgb(0, 254, 212);
    margin: 20px;
    border-radius: 15px;
 }
 .social-icons i{
    top: 5px;
    margin-top: 28px;
    font-size: 20px;
    /* background-color: blue; */
 }
 .social-icons a i{
    margin-bottom: 50px;
 }



 .social-icons a{
    color: rgb(204, 9, 9);
    margin-top: 8px;
    position: relative;
 }

 .social-icons a:hover{
    background-color: rgba(243, 86, 112, 0.867);
    transition: 0.8s ease-in-out;
 }

 .social-icons a:hover i{
    color: #fff;
    transition: 0.5s;
 }
/* FOOTER ENDS */


/* ANIMATION */

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-45%);
    transition: all 0.8s;

}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);

}
